servers/SOAP/static/CustomerServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:cus="http://www.accurate.com/acec/CustomerServices"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="CustomerServices"
	targetNamespace="http://www.accurate.com/acec/CustomerServices">
	
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.accurate.com/acec/CustomerServices" schemaLocation="schemas/CustomerServices.xsd"/>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="notifyCustomerCreationRequest">
        <wsdl:part name="payload" element="cus:notifyCustomerCreationRequest"/>
    </wsdl:message>
    <wsdl:message name="notifyCustomerCreationResponse">
        <wsdl:part name="payload" element="cus:notifyCustomerCreationResponse"/>
    </wsdl:message>
		<wsdl:message name="updateCustomerRequest">
        <wsdl:part name="payload" element="cus:updateCustomerRequest"/>
    </wsdl:message>
    <wsdl:message name="updateCustomerResponse">
        <wsdl:part name="payload" element="cus:updateCustomerResponse"/>
    </wsdl:message>
	
	
	<wsdl:portType name="CustomerServices">
		<wsdl:operation name="notifyCustomerCreation">
            <wsdl:input message="cus:notifyCustomerCreationRequest"/>
            <wsdl:output message="cus:notifyCustomerCreationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateCustomer">
            <wsdl:input message="cus:updateCustomerRequest"/>
            <wsdl:output message="cus:updateCustomerResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="CustomerServicesBinding" type="cus:CustomerServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notifyCustomerCreation">
            <soap:operation style="document" soapAction="notifyCustomerCreation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCustomer">
            <soap:operation style="document" soapAction="updateCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CustomerServices">
		<wsdl:port binding="cus:CustomerServicesBinding" name="CustomerServices_pt">
			<soap:address location="https://ws-b2b-hcp.infracommerce.com.br/B2BServices/Customer" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
